
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let c of contacts">
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
        <td>{{c.cell}}</td>
        <td>
        <button type="button" class="btn btn-large btn-block btn-danger" (click)="delete(c)">Delete</button>
        </td>
      </tr>
      <tr>
        <td><input type="text" #name></td>
        <td><input type="text" #email></td>
        <td><input type="text" #cell></td>
      </tr>
      <button (click)="addToTable(name.value,email.value,cell.value)">AddToTable</button>


    </tbody>
  </table>
  
</div>
