

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14 px;
    color: purple;
}
button{
    background-color:lightblue;
    color: black;
    width: 70px;
    height:30px;
}
.s1{
    background-color: peachpuff;
    color: black;
    border: 3px solid;;
    border-color: rgb(159, 208, 228);
    
}